@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");


/* By Yuri Dias && Mario Pitta && Ronald Lima */
 
#corpo {
    margin: auto;
    width: 70vw;
    height: 50vh;
    text-align: center;
    top: auto;
    font-family: 'Open Sans';
}

#background {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}
.titulo {
    font-size: 40px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-shadow: 0 2px 1px rgba(0, 0, 0, .2);
    opacity: 0.5;
    transition-duration: 1s;
}

.titulo:hover {
    opacity: 1;
}